#logo{
    max-width: 150px;
}

.blog-item{
    margin-bottom: 100px;
}
.blog-item h4{
    text-align: center;
    position: relative;
}
.blog-item h4 a{
    text-decoration: none;
}
.blog-item img, .blog-item h4{
    transition: all .15s linear;
}
.blog-item:hover img{
    transform: scale(1.03, 1.03);
}
.blog-item:hover h4 a{
    top: 5px;
    color: red;
}