{% extends 'base.html' %}
{% load static %}
{% block meta_tags %}
    {% include '_meta_tags.html' with meta_title='Каталог' %}

{% endblock %}
{% block content %}
    <h1>Категории</h1>
    <div class="row">
        {% for category in object_list %}

            <div class="col-4 blog-item">
            <a href="{{ category.get_absolute_url }}">
                {% if category.image %}
                    <img class='img-thumbnail' src="{{ category.image.url }}" alt="{{ category }}" title="{{ category }}">
                {% else %}
                    <img class='img-thumbnail' src="{% static 'no-image.png' %}" alt="{{ category }}" title="{{ category }}">

                {% endif %}

                <h4>{{ category.name }}</h4>
             </a>
            </div>


        {% endfor %}
    </div>

{% endblock %}